@import "variables.scss";

@function headings($from:1, $to:7) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from + 1, $to);
  }
}

#{headings(1, 6)} {
  font-family: $heading-font;
  font-weight: 700;
}

body {
  margin: 0;
  color: black;
  font-family: $paragraph-font;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}